:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #fff;
  --dairy: #fcfcfc;
}
/* Додаємо "Паттерн для приховання заголовків": властивості для класу .visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Обнулення маржінів у заголовков та параграфів */
/* h1, h2, h3, h4, h5, h6, p {
  margin: 0;
} */

/* Обнулення маржін і лівий паддінг в списках ul */
/* ul {
  margin: 0;
  padding-left: 0;
} */

.content {
  background-color:#fff444;
}

.title-list-tablet {
max-width: 360px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 768px;
  margin-top: 112px;
  margin-bottom: 0;
}

.title-list-phone {
  max-width: 360px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 384px;
  margin-right: 384px;
  margin-top: 112px;
  margin-bottom: 0;
}

.title-list-laptop {
  max-width: 360px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 768px;
  margin-right: 0;
  margin-top: 112px;
  margin-bottom: 0;  
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

.list {
  list-style: none;
}
/* .list.link {
  color: var(--navyblue);
} */

.link {
  text-decoration: none;

  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-page {
  background: var(--white);
}

.logo-web {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--navyblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link.item {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link.item:hover,
.link.item:focus {
  color: var(--ocean);
  /* text-decoration: underline; */
}

/* .link.item.current {
  color: var(--iris);
} */

.contacts {
  color: var(--slate);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.contacts:hover,
.contacts:focus {
  color: var(--ocean);
}

.hero {
  background: var(--navyblue);
  color: var(--white);
}

.hero-title {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/* default */
.hero-btn {
  cursor: pointer;
  color: var(--white, #fff);

  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  background: var(--iris);
}
/* hover */
.hero-btn:hover,
.hero-btn:focus {
  color: var(--white);

  /* Button Text */
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  background: var(--ocean);
}

.hero-feature {
  color: var(--navyblue);
  /* Header 3 */

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.hero-text {
  color: var(--slate);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title {
  color: var(--navyblue);

  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  color: var(--navyblue);

  /* Header 3 */

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.subtitle-text {
  color: var(--slate);

  /* Body */

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.cards {
  background-color: var(--cloud);
}

.cards-title {
  color: var(--navyblue);

  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.cards-list {
  background-color: var(--white);
}

.footer {
  background: var(--navyblue);
  color: var(--cornflower);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer .logo-studio {
  color: var(--cloud);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: var(--cloud);
}

.btn-text {
  cursor: pointer;
  color: var(--iris);
  background-color: var(--cloud);
  text-align: center;

  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn-text:hover,
.btn-text:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.title-portfolio {
  color: var(--navyblue);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.subtitle-portfolio {
  color: var(--slate);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
